<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <table>
    <tr>
      <th>Categories</th>

    </tr>
    <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
    </tr>
    <% end %>
  </table>
</div>
